{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<form method="post" class="container-md px-md-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes loggés en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h1 mb-3 text-center">Connexion</h1>
    <label class="my-2" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label class="my-2" for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="my-3 d-flex flex-column align-content-center">
    <button class="my-2 btn btn-primary" type="submit">Connexion</button>
    <a class="my-2 btn btn-primary" href="{{ path('customers_new') }}">Créer un compte</a>
    </div>
</form>
{% endblock %}
