<div class="card mb-3 col-md-12 col-lg-6 p-0">
    <div class="row g-0">
        <div class="col-sm-2 col-xl-3">
            <img src="{{ asset('uploads/booksCover/' ~ book.image) }}"
                 class="img-fluid rounded-start w-100"
                 alt="image de couverture du livre">
        </div>
        <div class="col-sm-10 col-xl-9">
            {% if book.reservation %}

                {% if book.reservation.status == 'reserved' %}
                    <div class="card_header color_reserved" class="card-header rounded-0 text-light d-flex justify-content-between">
                        <p class="m-0 p-0">Réservé</p>
                        <p class="m-0 p-0">Retour prévu le : {{ book.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                    </div>
                {% else %}

                    <div class="card_header color_borrowed" class="card-header rounded-0 text-light d-flex justify-content-between">
                        <p class="m-0 p-0">Emprunté</p>
                        <p class="m-0 p-0">Retour prévu le : {{ book.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="card_header color_disponible" class="card-header rounded-0 text-light ">
                    <p class="m-0 p-0 m-0 p-0">Disponible</p>
                </div>
            {% endif %}

            <div class="container">
                <div class="card-body row">

                    <div class="col-8">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text m-0 p-0">
                            <small>
                                {{ book.literaryGenre }} |
                                {{ book.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                                {{ book.author }}
                            </small>
                        </p>
                        <p class="card-text m-0 p-0">{{ book.description }}</p>
                    </div>

                    <div class="col-4">
                        {% if book.reservation %}
                            {% if is_granted('ROLE_EMPLOYEE') %}
                                {% if book.reservation.status == 'reserved' %}
                                    <a href="{{ path('book_loaning', {'bookId':book.id }) }}"
                                       class="btn btn-success text-light position-absolute bottom-0 end-0">Confirmer l'emprunt</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if is_granted('ROLE_CUSTOMER') %}
                                <a href="{{ path('book_reservation', { 'bookId':book.id }) }}"
                                   class="btn btn-success text-light position-absolute bottom-0 end-0">Réserver</a>
                            {% endif%}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
