{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}

    <div class="container border">
    <h1 class="text-center m-3">Bibliothèque</h1>

    {% for book in books%}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/booksCover/' ~ book.image) }}"
                         class="img-fluid rounded-start"
                         alt="image de couverture du livre">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">
                            <small>
                            {{ book.literaryGenre }} |
                            {{ book.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                            {{ book.author }}
                            </small>
                        </p>
                        <p class="card-text">{{ book.description }}</p>
                            {% if is_granted('ROLE_CUSTOMER') %}
                                {% if book.status == 'disponible' %}
                                    <p class="card-text text-success">Disponible</p>
                                    <a href="{{ path('reservations', { 'bookId':book.id }) }}" class="btn btn-success text-light">Réserver</a>
                                {% else %}
                                    <p class="card-text text-danger">Indisponible</p>
                                    <a class="btn btn-danger disabled">Indisponible</a>
                                {% endif %}
                            {% else %}
                                {% if book.status == 'disponible' %}
                                    <p class="card-text text-success">Disponible</p>
                                {% elseif book.status == 'reserved' %}
                                    <p class="card-text text-warning">Réservé</p>
                                    <a class="btn btn-warning text-light">Confirmer l'emprunt</a>
                                {% elseif book.status == 'borrowed' %}
                                    <p class="card-text text-danger">Emprunté</p>
                                    <a class="btn btn-success text-light">Confirmer le retour</a>
                                {% endif %}
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
