{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}
    <h1>Books index</h1>

    <a href="{{ path('books_new') }}" class="btn btn-primary my-3">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Author</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>LiteraryGenre</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.status }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.image }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.literaryGenre }}</td>
                <td>{{ book.releaseDate ? book.releaseDate|date('Y-m-d') : '' }}</td>
                {% if book.image %}
                    <td>
                    <a href="{{ asset('uploads/booksCover/' ~ book.image) }}">voir la couverture</a>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('books_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('books_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
