{% extends 'base.html.twig' %}

{% block title %}Demandes de compte{% endblock %}
{% block description %} Médiathèque de la chappelle Curreaux : validation d'un compte utilisateur {% endblock %}

{% block main %}
    <h1 class="text-center title mb-4">Demandes de nouveau compte</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if customers %}
        {% for customer in customers %}
        <div class="card">
            <div class="card-header bg-primary text-light">
                <p>Nouvelle demande de compte</p>
            </div>
            <div class="card-body">
                <dl class="card_user">
                    <dt>Prénom: </dt>
                    <dd>{{ customer.firstname }}</dd>
                    <dt>Nom: </dt>
                    <dd>{{ customer.lastname }}</dd>
                    <dt>Date de naissance: </dt>
                    <dd>{{ customer.birthdate|format_datetime('short', 'none', locale='fr') }}</dd>
                    <dt>Email: </dt>
                    <dd>{{ customer.email }}</dd>
                    <dt>Adresse: </dt>
                    <dd>{{ customer.address }}</dd>
                    <dt>Code postal: </dt>
                    <dd>{{ customer.zipcode }}</dd>
                    <dt>Ville: </dt>
                    <dd>{{ customer.city }}</dd>
                </dl>
                <a class="btn my-2 btn-block btn-success"
                   href="{{ path('customers_validation', {'customerId':customer.id}) }}">
                    Valider le compte</a>
                <a class="btn my-2 btn-block btn-danger"
                   href="{{ path('customers_delete', {'customerId':customer.id}) }}">
                    Refuser le compte</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucune demande en attente</p>
    {% endif %}
{% endblock %}