{% extends 'base.html.twig' %}

{% block title %}Demandes de compte{% endblock %}

{% block main %}
    <h1 class="text-center title">Demandes de nouveau compte</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% if customers %}
        {% for customer in customers %}
        <div class="card">
            <div class="card-header bg-primary text-light">
                <p>Nouvelle demande de compte</p>
            </div>
            <div class="card-body">
                <div>
                <p>Prénom: {{ customer.firstname }}</p>
                <p>Nom: {{ customer.lastname }}</p>
                <p>Date de naissance: {{ customer.birthdate|format_datetime('short', 'none', locale='fr') }}</p>
                <p>Email: {{ customer.email }}</p>
                <p>Adresse: {{ customer.address }}</p>
                <p>Code postal: {{ customer.zipcode }}</p>
                <p>Ville: {{ customer.city }}</p>
                </div>
                <a class="btn my-2 btn-block btn-success"
                   href="{{ path('customers_validation', {'customerId':customer.id}) }}">
                    Valider le compte</a>
                <a class="btn my-2 btn-block btn-danger"
                   href="{{ path('customers_delete', {'customerId':customer.id}) }}">
                    Refuser le compte</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucune demande en attente</p>
    {% endif %}

{% endblock %}