<div class="card mb-3 border-danger">
    <div class="row g-0">

        <div class="col-md-4">
            <img src="{{ asset('uploads/booksCover/' ~ userLateBook.image) }}"
                 class="img-fluid rounded-start"
                 alt="image de couverture du livre">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ userLateBook.title }}</h5>
                <p class="card-text">
                    <small>
                        {{ userLateBook.literaryGenre }} |
                        {{ userLateBook.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                        {{ userLateBook.author }}
                    </small>
                </p>
                <p class="card-text">{{ userLateBook.description }}</p>
                <p class="card-text text-danger">Emprunté</p>
                <p class="text-danger">A rendre pour le : {{ userLateBook.reservation.endDate|format_datetime('short', 'none', locale='fr') }}
            </div>
        </div>
    </div>
</div>