<div class="card mb-3 col-md-12 col-lg-6 p-0">
    <div class="row g-0">
        <div class="col-sm-2 col-xl-3">
            <img src="{{ asset('uploads/booksCover/' ~ userBook.image) }}"
                 class="img-fluid rounded-start w-100"
                 alt="image de couverture du livre">
        </div>
        <div class="col-sm-10 col-xl-9">
            {% if userBook.reservation %}

                {% if userBook.reservation.status == 'reserved' %}
                        <div class="card_header color_reserved" class="card-header rounded-0 text-light d-flex justify-content-between">
                            <p class="m-0 p-0">Réservé</p>
                            <p class="m-0 p-0">Retour prévu le : {{ userBook.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                        </div>
                {% else %}

                    <div class="card_header color_borrowed" class="card-header rounded-0 text-light d-flex justify-content-between">
                        <p class="m-0 p-0">Emprunté</p>
                        <p class="m-0 p-0">Retour prévu le : {{ userBook.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                    </div>
                {% endif %}
            {% endif %}

            <div class="container">
                <div class="card-body row">

                    <div class="col-12">
                        <h5 class="card-title title">{{ userBook.title }}</h5>
                        <p class="card-text m-0 p-0">
                            <small>
                                {{ userBook.literaryGenre }} |
                                {{ userBook.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                                {{ userBook.author }}
                            </small>
                        </p>
                        <p class="card-text m-0 p-0">{{ userBook.description }}</p>
                    </div>

                    <div class="col-12 text-end mt-2">
                        {% if is_granted('ROLE_EMPLOYEE') %}
                            <a class="btn btn-success text-light"
                               href="{{ path('delete_reservation', { 'reservationId': userBook.reservation.id }) }}">
                                Confirmer le retour</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>