{% extends 'base.html.twig' %}

{% block title %}Liste des emprunts{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des emprunts</h1>
    {% if lateBooks %}
        {% for lateBook in lateBooks %}
            <div class="card mb-3 border-danger">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('uploads/booksCover/' ~ lateBook.image) }}"
                             class="img-fluid rounded-start"
                             alt="image de couverture du livre">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ lateBook.title }}</h5>
                            <p class="card-text">
                                <small>
                                    {{ lateBook.literaryGenre }} |
                                    {{ lateBook.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                                    {{ lateBook.author }}
                                </small>
                            </p>
                            <p class="card-text">{{ lateBook.description }}</p>
                            <p class="text-danger">Date de retour : {{ lateBook.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                            <p>Emprunté par : {{ lateBook.reservation.user.fullname }} </p>
                            <a class="btn btn-success text-light">Confirmer le retour</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% for book in books %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/booksCover/' ~ book.image) }}"
                         class="img-fluid rounded-start"
                         alt="image de couverture du livre">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">
                            <small>
                                {{ book.literaryGenre }} |
                                {{ book.releaseDate|format_datetime('short', 'none', locale='fr') }} |
                                {{ book.author }}
                            </small>
                        </p>
                        <p class="card-text">{{ book.description }}</p>
                        <p class="text-success">Date de retour : {{ book.reservation.endDate|format_datetime('short', 'none', locale='fr') }}</p>
                        <p>Emprunté par : {{ book.reservation.user.fullname }}</p>
                        <a class="btn btn-success text-light" href="{{ path('delete_reservation', { 'reservationId': book.reservation.id }) }}">Confirmer le retour</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}